@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

body,
html {
  background: #222;
}

.main-body {
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-body .canvas-container {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main-body .canvas-container .span {
  background: blue;
  color: whitesmoke;
  text-align: center;
  font-weight: 700;
}
.main-body .canvas-container .button {
  border: none;
  background: #fff;
  padding: 5px 0px;
  transition: 0.3s;
}
.main-body .canvas-container .button:hover {
  background: blue;
  color: whitesmoke;
}
.main-body .canvas-container .canvas {
  background-color: #555;
}